*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    background-color: #81b9f8;
    
}
header div h3{
    text-align: center;
    font-size: 100px;
    color: rgb(68, 53, 136);
    margin-top: 2rem;
    border-bottom: 1px solid rgb(68, 53, 136);
    
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    background-color: #81b9f8; 
    z-index: 1000; 
}
.form_01{
    display: flex;
    flex-direction: column;
    align-items: center;  
    gap: 20px;
}
.form_01 input {
    width: 400px;
    height: 30px;
    margin-top: 10px;
    padding: 7px;
    padding-left: 15px;
    border-radius: 30px;
    border: none; 
    outline: none; 
    box-shadow: 0 0 7px #d681f8; 
    background-color: rgb(117, 136, 245);
    font-size: 15px;
}
.form_01 input:hover{
    background-color: rgb(222, 137, 230);
    transition: 0.3s linear;
}
.form_01 label{
    font-size: 30px;
    color: rgb(239, 15, 247);   
}
label:hover{
    border-bottom: 1px solid  rgb(239, 15, 247);
   
}

.botao{
    display: flex;
    width: 170px;
    height: 50px;
    margin-top: 40px;
    padding: 15px;
    border:none;
    justify-content: center;
    border-radius: 40px;
    box-shadow: 0 0 7px ;
    background-color: rgb(222, 137, 230);
    color:rgb(219, 4, 155);
    font-weight: bold;
}
.botao:hover{
    background-color: rgb(117, 136, 245);
    transition: 0.1s linear; 
}
.seletor {
    width: 417px;
    height: 3rem;
    margin-top: 10px;
    padding:7px;
    border: none;
    outline: none;
    border-radius: 30px;
    box-shadow: 0 0 7px #d681f8;
    background-color: rgb(117, 136, 245);
    color: rgb(239, 15, 247);
    font-weight: bold;
    padding-left: 15px;
}
.seletor:hover{
    background-color: rgb(222, 137, 230);
    transition: 0.1s linear;  
}
.section_01{
    display: flex;
    justify-content:center ;
    align-items: center;
    min-height: calc(100vh - -200px)
}